.jumbotron {
  margin-bottom: 0;
}
.fav-books {
  width: 80%;
  margin: 50px auto 50px;
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

div.fav-books div img {
  height: 28em;
}
